@import "reset.css";


body,#root {
    height: 100vh;
}


.mainBox {
    display: flex;
}

.calendarBox {
    margin: 20px 20px;
    height: 80%;
    width: 70%;
}

.fc-day-sun * {
    color: rgb(255, 129, 129) ;
}
.fc-day-sat * {
    color: rgb(123, 123, 255) ;
}
.fc-toolbar-chunk button {
    background-color: rgb(197, 0, 197) !important;
    border: 1px solid rgba(255, 255, 255, 0.24) !important;
}
.fc .fc-daygrid-day.fc-day-today {
    background-color: rgb(255, 237, 146);
    background-color: var(--fc-today-bg-color, rgb(255, 242, 180));
  }
