@import "reset.css";

.calendarBox {
    margin: 20px 20px;
    height: 100vh;
    width: 70%;
}

.fc-day-sun * {
    color: rgb(255, 129, 129) ;
}
.fc-day-sat * {
    color: rgb(123, 123, 255) ;
}
.fc-toolbar-chunk button {
    background-color: rgb(197, 0, 197) !important;
    border: 1px solid rgba(255, 255, 255, 0.24) !important;
    
}
